.App {
  text-align: center;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
    margin-top: 5em;
}

ul.ui.list li:before {
  display: none;
  content: '';
}

.buttons-box, .miniform { display: block; margin: 50px auto; width: 500px; }

.btn { display: inline-block; width: 100px; padding: 10px; border-radius: 15px; background: #c3c3c3; color: #fff; }

output { display: block; padding: 10px 20px; font-weight: bold; font-size: 18px; }

label, input { display: block; margin: 20px 0}
